/* #9EC8CA
#4B372B
#D7B668 */

/* Mobile first content layout */
:root {
  --brown: rgb(75, 55, 43);
  --gold: #d7b668;
  --sky-blue: #9ec8ca;
  --white: #ffffff;
  --good-color: rgb(225, 225, 100);
  --bad-color: rgb(225, 100, 100);
  --no-color: rgb(150, 150, 150);
  --flight-color: rgb(100, 225, 100);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Regular", sans-serif;
  color: var(--brown);
  background-color: var(--brown);
}

header {
  background-color: var(--gold);
  padding-bottom: 15%;
  margin: 0 0 60px;
  width: 100%;
  border-top: var(--brown) 20px solid;
}

header p {
  color: var(--brown)
}

header img {
  flex: 0;
  width: 230px;
}

.bdr-btm {
  border-bottom: var(--brown) 2px solid;
  width: 47%;
  margin: 0 auto 175px auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cntr-content {
  text-align: center;
  font-weight: bolder;
  font-size: 28px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  animation: fadeIn 5s;
}

.hdr-border {
  border: var(--brown) 2px solid;
  width: 50%;
}

.text-color-gold {
  color: var(--gold);
  text-align: center;
}

.form-design {
  text-align: center;
}

.city-search {
  margin: 0 auto 30px auto;
  border-radius: 5px;
}

.bdr-btm-gold {
  border-bottom: var(--gold) 2px solid;
  width: 55%;
}

h2 {
  text-align: center;
}

.rocket-img {
  width: 300px;
  padding-bottom: 20px;
}

/* sets up main container to be flex*/
.rocket-display {
  /*display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: small;
  color: white;*/
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  gap: 8em;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

/* Changes for mobile made*/
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.rocket-display h2 {
  flex: 1 100%;
  font-size: 20px;
  color: var(--gold);
}

/* sets up cards to be flex to apporpiately size img*/
.rocket-card {
  height: 300px;
  width: 200px;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(50, 50, 175));
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: var(--white);
}

.rocket-name {
  text-align: center;
  font-size: 22px;
}

.rocket-card img {
  flex: 1 100%;
  height: 100px;
  width: 100px;
  margin: 0 10px;
}

.rocket-card h3 {
  text-align: center;
}

.wrapper span {
  font-size: 18px;
}

/* sets element to be on same line as span*/
.wrapper p {
  display: inline;
}

/* the four styles below are for launch status*/
.good-color {
  color: var(--good-color);
}

.bad-color {
  color: var(--bad-color);
}

.no-color {
  color: var(--no-color);
}

.flight-color {
  color: var(--flight-color);
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #9ec8ca !important;
}

.button {
  margin-left: 30px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}

.dropdown-menu {
  margin: 0 30px 0 30px;
}

#map {
  display: block;
}

.search-history-label {
  font-weight: bolder;
  font-size: larger;
  color: var(--gold);
}

.search-results-container {
  margin-left: 30px;
  padding-top: 10px;
  line-height: 2;
  font-size: small;
}

.list-address:hover,
.list-address:focus {
  background-color: #9ec8ca !important;
  /* color: blue; */
  font-weight: bolder;
  /* text-decoration: underline; */
  cursor: pointer;
}

/* .search-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

.back-btn {
  background-color: #9ec8ca;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 80%;
}

/* .main-container {
  margin-left: 0;
  margin-right: 0;
  height: 175vh;
  border-radius: 10px;
} */

.field {
  text-align: center;
  border: 3px solid var(--gold);
  border-radius: 15px;
  padding: 30px;
  margin: 10px;
}

.search-history-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-item {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 5px;
  background-color: #ffff;
  display: inline-block;
  font-weight: bold;
  border: #d7b668;
  border-radius: 7px;
  font-size: 10px;
}

.search-history-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #4b372b;
  box-shadow: 5px;
  margin-top: 10px;
  border-top: 2px solid grey;
  position: relative;
}

.block-search {
  border: 1px solid #4b372b;
  margin: 200px 5px 5px 5px;
  border-top: 1px solid rgb(183, 180, 180);
  color: #4b372b;
}

.search-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* .search-wrap-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} */

footer {
  background-color: var(--gold);
}

footer p {
  color: var(--brown)
}

footer a {
  text-align: center;
  color: var(--brown);
}

footer a:hover {
  color: var(--brown)
}

.mapboxgl-canvas-container {
  height: 30vh;
}

@media screen and (min-width: 900px) {

  /* for desktop display */
  body {
    font-family: "Roboto Light", "sans-serif";
    font-size: 32px;
    color: var(--gold);
  }

  header {
    background-image: url("./liftoff.jpg");
    background-position: 45% 40%;
    background-size: 220%;
    display: block;
    margin: 0;
    padding: 0 0 150px;
    border-bottom: var(--brown) 40px solid;
  }

  .alt-size {
    display: block;
    padding: auto;
    margin: 0 auto 150px auto;
    width: 170px;
    height: 170px;
  }

  header p {
    margin: 0 300px 0 300px;
  }

  .field {
    text-align: center;
    border: 3px solid var(--gold);
    border-radius: 15px;
    padding: 30px;
    margin: 10px;
  }

  .bdr-btm {
    border-bottom: var(--white) 3.5px solid;
  }

  .translucent-bg {
    background-color: rgba(75, 55, 43, 0.5);
  }

  .city-search {
    width: 15%;
    font-size: 20px;
    color: var(--brown);
    margin: 0 auto 73px auto;
  }

  .alt-content {
    display: flex;
    flex: wrap;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
    width: 600px;
    height: 600px;
    margin: 42px 0 0 0;
  }

  .alt-content iframe {
    width: 600px;
    height: 600px;
    margin: 42px 0 0 0;
  }

  .bdr-btm-gold {
    margin: 0 auto 0 auto;
    text-align: center;
    border-bottom: solid 3px;
  }

  footer {
    color: var(--brown);
    font-size: 22px;
  }

  footer h2 {
    font-size: 36px;
    font-family: "Roboto Medium", "sans-serif";
  }

  .rocket-display {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: small;
    color: white;
  }

  .button {
    margin-left: 0;
  }

  .rocket-display button {
    font-size: 22px;
    padding: 4px 2px 7px 2px;
    text-align: center;
  }

  .rocket-display button:hover {
    background-image: linear-gradient(to top, rgb(100, 100, 220), rgb(0, 0, 0));
    color: white;
    transition: background-image 2s;
  }
}

@media screen and (max-width: 1500) {
  .rocket-display {
    overflow-y: auto;
    overflow-x: auto;
  }
}